# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

# Gradle:
.idea/gradle.xml
.idea/libraries
.gradle
gradle
gradlew*
build/

# IntelliJ
/out/
*.class

# C++
*.o
raytracer/_build
raytracer/build
raytracer/.vs

*.ppm
*.jpg
*.gif
*.mp4
*.obj
*.mtl
*.in

*.swp

video/out*
